@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url("/traffic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.main-area {
  height: 100vh;
  width: 100vw;
  @apply bg-slate-300 bg-opacity-50;
}

.signals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  gap: 1rem;
  text-transform: capitalize;
}

.aru {
  font-size: x-large;
}

.traffic-light {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
  margin-right: 0px;
  background-color: #333;
  padding: 10px;
  border-radius: 10px;
}

.light {
  width: 50px;
  height: 50px;
  margin: 10px 0;
  background-color: #555;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.light.red {
  @apply bg-red-700;
}

.light.yellow {
  @apply bg-yellow-600;
}

.light.green {
  @apply bg-green-400;
}

.signal-info {
  flex-grow: 1;
  padding: 20px;
}
